<div class="modal fade" id="confirm_delete_list" tabindex="-1" aria-labelledby="confirm_delete_list_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm_delete_list_label">Delete list</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this list?
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="yes_delete_list" data-id="0">Yes</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-light">No</button>
      </div>
    </div>
  </div>
</div>